setuptools==70.0.0 # because mkdocs-mermaid2-plugin requirement conflicts with removed setuptools command.test module
mike<2.0
mkdocs
mkdocs-autorefs
mkdocs-awesome-pages-plugin
mkdocs-jupyter
mkdocs-macros-plugin
mkdocs-material
mkdocs-mermaid2-plugin
mkdocs-redirects
pandas
pyyaml
tabulate
