name: Validate Frictionless Table Schemas for Spec

on:
  pull_request:
    branches:
      - main
    paths:
      - 'spec/*.schema.json'
      - '!spec/tides.spec.json'

jobs:
  validate_tables:
    name: Validate other schema
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Download schema
        run: |
          curl --request GET "https://specs.frictionlessdata.io/schemas/table-schema.json" -o table-schema.json
      - name: Validate Table schema
        uses: TIDES-transit/json-schema-validator@v1.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          json_schema: table-schema.json
          json_path_pattern: ^spec/.*\.schema\.json$
          send_comment: false
          clear_comments: false