name: Validate Frictionless Table Schemas for Spec

on:
  pull_request:
    branches:
      - main
    paths:
      - 'spec/*.schema.json'
      - '!spec/tides.spec.json'

jobs:
  validate_tables:
    name: Validate other schema
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Validate Table schema
        uses: snapcart/json-schema-validator@v1.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          json_schema: "https://raw.githubusercontent.com/frictionlessdata/specs/master/schemas/table-schema.json"
          json_path_pattern: ^spec/.*\.schema\.json$
          send_comment: true
          clear_comments: true
